*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url(vote.jpg);
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px;
}
#box-first{
    height: 700px;
    width:500px;
    background-color: rgb(144, 138, 138);
    margin:20px;
    border-radius: 20px;
}
#box1{
    /* background-color: rgb(255, 132, 0); */
    height: 30px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#box2{
    /* background-color: aqua; */
    height: 60px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#img1{
    height: 50px;
    width: 50px;
    /* background-color: white; */
    position: relative;
    left:70px;
    background-image: url(trs.png);
    background-size:cover;
}
#sym1{
    height: 50px;
    width: 60px;
    background-color: rgb(230, 121, 121);
    position: relative;
    left:50px;
    font-size: 35px;
}
#one{
    height: 50px;
    width:80px;
    background-color: blue;
    border-radius: 20px;
    position: relative;
    left:10px;
}
#name{
    position: relative;
    left:40px;
}
#box3{
    /* background-color: rgb(27, 78, 78); */
    height: 60px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#img2{
    height: 50px;
    width: 50px;
    background-color: white;
    position: relative;
    left:70px;
    background-image: url(bjp.png);
    background-size:cover;
}
#sym2{
    height: 50px;
    width: 60px;
    background-color: rgb(230, 121, 121);
    position: relative;
    left:50px;
    font-size: 35px;
}
#two{
    height: 50px;
    width:80px;
    background-color: blue;
    border-radius: 20px;
    position: relative;
    left:10px;
}
#name{
    position: relative;
    left:40px;
}
#box4{
    /* background-color: rgb(71, 120, 15); */
    height: 60px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#img3{
    height: 50px;
    width: 50px;
    background-color: white;
    position: relative;
    left:70px;
    background-image: url(congress.png);
    background-size:cover;
    
}
#sym3{
    height: 50px;
    width: 60px;
    background-color: rgb(230, 121, 121);
    position: relative;
    left:50px;
    font-size: 35px;
}
#three{
    height: 50px;
    width:80px;
    background-color: blue;
    border-radius: 20px;
    position: relative;
    left:10px;
}
#name{
    position: relative;
    left:40px;
}
#box5{
    /* background-color: rgb(255, 98, 0); */
    height: 60px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#img4{
    height: 50px;
    width: 50px;
    background-color: white;
    position: relative;
    left:70px;
    background-image: url(CPI.png);
    background-size:cover;
}
#sym4{
    height: 50px;
    width: 60px;
    background-color: rgb(230, 121, 121);
    position: relative;
    left:50px;
    font-size: 35px;
}
#four{
    height: 50px;
    width:80px;
    background-color: blue;
    border-radius: 20px;
    position: relative;
    left:10px;
}
#name{
    position: relative;
    left:40px;
}
#box6{
    /* background-color: rgb(255, 0, 195); */
    height: 60px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#img5{
    height: 50px;
    width: 50px;
    background-color: white;
    position: relative;
    left:70px;
    background-image: url(janasena.png);
    background-size:cover;
}
#sym5{
    height: 50px;
    width: 60px;
    background-color: rgb(230, 121, 121);
    position: relative;
    left:50px;
    font-size: 35px;
}
#five{
    height: 50px;
    width:80px;
    background-color: blue;
    border-radius: 20px;
    position: relative;
    left:10px;
}
#name{
    position: relative;
    left:40px;
}
#box7{
    /* background-color: rgb(0, 4, 255); */
    height: 60px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#img6{
    height: 50px;
    width: 50px;
    background-color: white;
    position: relative;
    left:70px;
    background-image: url(ysrcp.jpg);
    background-size:cover;
    background-position:center;
}
#sym6{
    height: 50px;
    width: 60px;
    background-color: rgb(230, 121, 121);
    position: relative;
    left:50px;
    font-size: 35px;
}
#six{
    height: 50px;
    width:80px;
    background-color: blue;
    border-radius: 20px;
    position: relative;
    left:10px;
}
#name{
    position: relative;
    left:40px;
}
#box8{
    /* background-color: rgb(255, 47, 0); */
    height: 60px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#img7{
    height: 50px;
    width: 50px;
    background-color: white;
    position: relative;
    left:70px;
    background-image: url(tdpsym.avif);
    background-size:cover;
}
#sym7{
    height: 50px;
    width: 60px;
    background-color: rgb(230, 121, 121);
    position: relative;
    left:50px;
    font-size: 35px;
}
#seveen{
    height: 50px;
    width:80px;
    background-color: blue;
    border-radius: 20px;
    position: relative;
    left:10px;
}
#name{
    position: relative;
    left:40px;
}
#box9{
    /* background-color: rgb(255, 0, 153); */
    height: 60px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#img8{
    height: 50px;
    width: 50px;
    background-color: white;
    position: relative;
    left:70px;
    background-image: url(bsp.png);
    background-size:cover;
    background-position:center;
}
#sym8{
    height: 50px;
    width: 60px;
    background-color: rgb(230, 121, 121);
    position: relative;
    left:50px;
    font-size: 35px;
}
#eight{
    height: 50px;
    width:80px;
    background-color: blue;
    border-radius: 20px;
    position: relative;
    left:10px;
}
#name{
    position: relative;
    left:40px;
}
#box10{
    /* background-color: rgb(0, 255, 102); */
    height: 60px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#img9{
    height: 50px;
    width: 50px;
    background-color: white;
    position: relative;
    left:70px;
    background-image: url(mim.png);
    background-size:cover;
}
#sym9{
    height: 50px;
    width: 60px;
    background-color: rgb(230, 121, 121);
    position: relative;
    left:50px;
    font-size: 35px;
}
#nine{
    height: 50px;
    width:80px;
    background-color: blue;
    border-radius: 20px;
    position: relative;
    left:10px;
}
#name{
    position: relative;
    left:40px;
}
#box11{
    /* background-color: rgb(255, 0, 0); */
    height: 60px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#img10{
    height: 50px;
    width: 50px;
    background-color: white;
    position: relative;
    left:85px;
    background-image: url(notalogo.jpg);
    background-size:cover;
}
#sym10{
    height: 50px;
    width: 60px;
    background-color: rgb(230, 121, 121);
    position: relative;
    left:55px;
    font-size: 35px;
}
#ten{
    height: 50px;
    width:80px;
    background-color: blue;
    border-radius: 20px;
    position: relative;
    left:10px;
}
#name1{
    position: relative;
    left:60px;
}
#result{
    background-color: #252422;
    height: 30px;
    width: 200px;
    position: relative;
    left:550px;
    bottom:400px;
    color: white;
}